/* Style général */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Conteneur */
.container { 
  justify-content: center;
  align-items: center;
}

/* Tableau */
.tableau {
  min-width: 560px;
  border-collapse: collapse;
  width: 200px; /* Ajuster la largeur selon vos besoins */
  border: 1px solid #ccc;
}

/* En-tête du tableau */
.tableau thead th {
  background-color: #e8f0fe; /* Couleur d'arrière-plan vert clair */
  color: #333;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Contenu du tableau */
.tableau tbody td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Sélection */
#choixCulture {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Quantité restante */
#quantiteRestante {
  font-weight: bold;
  color: #4caf50; /* Couleur verte */
}

.input-box {
  height: 52px;
  margin: 18px 0;
  width: 100%;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #4caf50;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4caf50;
  cursor: pointer;
}
.input-box.button input:hover {
  background: #0e4bf1;
}